{% extends 'main/base.html' %}
{% load static %}
{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'book_list' %}">&#x2190; Continue Shopping</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Items: <strong>{{count}}</strong></h5></th>
						<th><h5>Total:<strong> {{price_total}}$</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'payment' %}">Payment</a>
							<a  style="float:right; margin:5px;" class="btn btn-secondary" href="{% url 'clear' %}">Clear</a>
						</th>
					</tr>
				</table>

			</div>

			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
					<div style="flex:1"><strong>Delete</strong></div>
				</div>
				{% for order in ordered_list %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{ order.book.poster.url }}"></div>
					<div style="flex:2"><a href="{{ order.book.get_absolute_url }}">{{ order.book.title }}</a></div>
					<div style="flex:1"><p>{{order.book.price}}$</p></div>
					<div style="flex:1"><p class="quantity">{{order.count}} шт.</p></div>
					<div style="flex:1"><p>{{order.price}}$</p></div>
					<div style="flex:1">
						<a href="{{ order.del_book }}" class="editContent">
							<p><img class="chg-quantity update-cart" src="{% static 'images/delete.png' %}"></p>
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}
