{% extends 'main/base.html' %}

{% block title %}Корзина{% endblock %}
 
{% block content %}
<!-- Старый способ, когда в корзину попадает каждый объект	-->
<!-- 	<ol>
	{% for order in book_list %}
	<li>
			<a href="{{ order.order_book.get_absolute_url }}" class="editContent">
			{{ order.order_book.title }} 
		</a>
	</li>
	{% endfor %}
	</ol> -->

<ul>
	{% for order in ordered_list %}
	<li>
		<a href="{{ order.book.get_absolute_url }}" class="editContent">
			{{ order.book.title }}
		</a>
		{{order.count}} шт.
	</li>

	{% endfor %}
</ul>
{% endblock %}